<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NYC Women's Resources</title>
  <link href="https://fonts.googleapis.com/css?family=Crete+Round|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="style.css">
  <body>

    <header class="row">
      <h1>New York City Women's Resource Finder</h1>
      <small>Built by Nicola Beuscher | <a href="https://github.com/deweydell/nyc-womens-resources-2" target="_blank">view project on github</a> | <a href="https://data.cityofnewyork.us/Social-Services/NYC-Women-s-Resource-Network-Database/pqg4-dm6b" target="_blank">view data at NYC Open Database</a></small>
      <p>The NYC Women's Resource Network is a free, user-friendly database of over 1,000 nonprofit organizations and governmental agencies that work to advance and benefit women and families in New York City. A user can tailor their search by keyword, category, and/or borough to receive a customized listing of organizations that address their needs.</p>
    </header>

    <main id="app" class="row">
      <div class="sidebar">
        <button type="button" name="button" v-on:click="displayOrgs(filters)">Search</button>
        <button type="button" name="button" v-on:click="clearFilters()">Clear Filters</button>
        <h3>Filter by Borough</h3>
        <div class="filter-option" v-for="borough in boroughs">
          <input type="checkbox" v-bind:value="borough" v-bind:id="borough" v-model="filters"></input>
          <label v-bind:for="borough" v-text="borough.split('_').join(' ')"></label>
        </div>

        <h3>Filter by Category</h3>
        <div class="filter-option" v-for="category in categories">
          <input type="checkbox" v-bind:value="category" v-bind:id="category" v-model="filters"></input>
          <label v-bind:for="category" v-text="category.split('_').join(' ')"></label>
        </div>
      </div>

      <div class="list" v-if="loading">
        <h4>Loading...</h4>
      </div>
      <div class="list" v-else>
        <h3 v-text="title"></h3>
        <template v-for="org in results">
          <org-card v-bind:org="org"></org-card>
        </template>
      </div>
    </main>

  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
  </body>
</html>
